<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880449920699-pdqo4dehfqckq9pvpun2542ke5qg3tsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880449920699-pdqo4dehfqckq9pvpun2542ke5qg3tsp</string>
	<key>API_KEY</key>
	<string>AIzaSyCpV-7FreVbkTFDlkpaozR7ByFib-SmPZY</string>
	<key>GCM_SENDER_ID</key>
	<string>880449920699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.edu.ukma.Zhelizniak.CatsAndModulesAnnaZhelizniak</string>
	<key>PROJECT_ID</key>
	<string>catsandmodulesannazhelizniak</string>
	<key>STORAGE_BUCKET</key>
	<string>catsandmodulesannazhelizniak.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880449920699:ios:b2b0c1b097612bad51139e</string>
</dict>
</plist>